<div class="pageFooter">
  <div class="navbar navbar-dark bg-dark mb-0 pb-0" id="footer-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 footer-box_one">
          <p>This site is inspired by pastebin.
            Contact us for any query or feedback.
            We are open for business and volunteering as well.
          </p>
        </div>
        <div class="col-lg-4 footer-box_two" id="share-it">
          <ul>
            <li><i class="fa fa-twitter-square"></i></li>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-github"></i></li>
            <li><i class="fa fa-linkedin"></i></li>
            <!-- <li><i class="fa fa-git"></i></li> -->
          </ul>

        </div>
      </div>
    </div>

  </div>
</div>
