.top {
  /* border: hotpink solid 5px; */
  margin: 0px;
  width: 100%;
  height: auto;
}
.bodyarea {
  border: rgb(118, 124, 124) solid 1px;
  margin: 5px;
  width: 100%;
  height: auto;

}
.low {
  /* border: hotpink solid 1px; */
  margin: 0px;
  width: 100%;
  height: auto;
  /* background-color: cornsilk; */

}

.mainbody {
  border: rgb(118, 124, 124) solid 1px;
  height: 700px;
  /* margin: 5px; */
  /* width: auto; */
  /* padding: 10px; */
}

.sidebody {
  border: rgb(118, 124, 124)solid 1px;
  height: 700px;
  margin-right: 0px;
  /* background-color: rgb(195, 238, 238); */
  /* margin: 0px; */
  /* margin: 5px; */
  /* width: auto; */
  /* padding: 10px; */
}

#latest-update {
  min-height: 600px;
  margin: 10px;
}
