<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-reverse">
  <a class="navbar-brand" href="#" id="websiteName">ShareBin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarToggler" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-1">
      <input class="form-control" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-1" type="submit"><i class="fa fa-search"></i>Search</button>
    </form>
    <ul class="navbar-nav navbar-right pl-2">
      <li class="nav-item nav_btn">
        <!-- <button type="button" class="btn btn-outline-success" ><i class="fa fa-user-plus" title="Click to sign up"></i>Sign Up</button> -->
        <a class="nav-link " [routerLink]="['/register']"><i class="fa fa-user-plus" title="Sign Up"></i></a>
      </li>
      <li class="nav-item nav_btn">
        <!-- <button type="button" class="btn btn-outline-success" (click) = "gotoLogin()"> -->
          <!-- <i class="fa fa-sign-in" title="Click to login">Login</i> -->
        <!-- </button> -->
        <a class="nav-link" href="#" [routerLink]="['/login']"><i class="fa fa-sign-in"></i></a>
      </li>
    </ul>
  </div>
</nav>
