
<div class="row bodyarea">
  <main class="col-lg-9 col-xl-9 col-md-9 mainbody">
    <div class="container">
      <div class="row share-body">
        <div class="col-md-12 col-lg-12 col-xl-12">
          <app-image-share></app-image-share>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
          <app-text-share></app-text-share>
        </div>


      </div>
    </div>
  </main>
  <!-- <router-outlet></router-outlet> -->
  <aside class="col-lg-3 col-xl-3 col-md-3 sidebody">
    <div class="container full-card">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12" id="latest-update">
          <app-latest-update></app-latest-update>
        </div>
      </div>

    </div>

  </aside>
</div>

