.pageFooter {
  /* color: rgb(182, 208, 211); */
  /* height: 300px; */
  /* margin: 10px; */
  margin: 20px;
}

#footer-body {
  height: 300px;
  color: whitesmoke;
  place-items: center;
}

ul li{
  display: inline;
  padding: 10px;
}

#share-it {
  place-items: center;
}

.footer-box_one {
  border-right: solid 2px white;
}
.footer-box_two {
  border-left: solid 2px white;
}
